@import 'tailwindcss';
.reminder,
form {
  max-width: 36rem;
}
.attention {
  background-color: var(--color-gray-200);
  color: var(--surface-700);
  padding: 1rem;
}
label {
  display: flex;
  flex-direction: column;
  font-size: small;
}
.p-inputmask {
  border: 1px solid #333;
  padding: 0.2rem 0.8rem;
  border-radius: 0.2rem;
}
input {
  min-height: 2.2rem;
  border: 1px solid #333;
  padding-left: 0.4rem;
  border-radius: 0.2rem;
}

button {
  padding-block: 0.4rem;
  border-radius: 0.4rem;
  background-color: var(--primary);
  color: var(--on-primary);
}

.error {
  color: var(--color-red-600);
}
