<main>
  <div class="title flex items-center justify-between px-4 sticky top-0">
    <h1 class="text-2xl text-center my-4">Angular Shop</h1>
    <span class="text-2xl">
      <i class="pi pi-shopping-cart" (click)="openCart()"></i>
      <span class="products-amount text-sm rounded-2xl mx-0.5 p-1.5">{{
        shopService.getSelectedProducts().length
      }}</span>
    </span>
  </div>
  <div class="categories px-2 overflow-auto flex flex-nowrap py-2">
    @for (category of shopService.getCategories(); track category) {
    <span class="category text-nowrap text-sm rounded-sm px-2 mx-0.5 bg-[--primary]">
      {{ category }}
    </span>
    }
  </div>
  <div class="articles grid">
    @for (product of shopService.getProducts(); track product.id) { @defer (on viewport) {
    <app-product-item [product]="product" />
    } @placeholder {
    <div class="product-placeholder h-108"></div>
    } }
  </div>
</main>
