.title {
  background: var(--surface);
}
.articles {
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
}

.category {
  background-color: var(--surface-200);
}

.products-amount {
  background: var(--primary-dark);
  color: var(--on-primary-dark);
}
