<main>
  <header class="sticky top-0 shadow">
    <div class="flex title items-center justify-between px-4">
      <h1 class="text-2xl text-center my-4">Angular Shop</h1>
      <div class="hidden sm:flex grow search-section px-4 gap-3 mx-2 items-center">
        <input
          type="text"
          class="grow my-2 px-2 border rounded-sm py-0.5"
          placeholder="Buscar producto"
          [formControl]="searchFormControl"
        />
        <i class="pi pi-search"></i>
      </div>
      <span class="text-2xl">
        <i class="pi pi-shopping-cart" (click)="openCart()"></i>
        <span class="products-amount text-sm rounded-2xl mx-0.5 p-1.5">{{
          shopService.getSelectedProducts().length
        }}</span>
      </span>
    </div>
    <div class="flex sm:hidden search-section px-4 gap-3 mx-2 items-center">
      <input
        type="text"
        class="grow my-2 px-2 border rounded-sm py-0.5"
        placeholder="Buscar producto"
        [formControl]="searchFormControl"
      />
      <i class="pi pi-search"></i>
    </div>
  </header>
  <div class="categories px-2 overflow-auto flex flex-nowrap py-2">
    @for (category of shopService.getCategories(); track category) {
    <span
      (click)="changeCategory(category)"
      [ngClass]="{ active: selectedCategory() === category }"
      class="category text-nowrap text-sm rounded-sm px-2 mx-0.5 bg-[--primary]"
    >
      {{ category }}
    </span>
    }
  </div>
  <div class="articles grid">
    @for (product of productsByCategoryFilter(); track product.id) { @defer (on viewport) {
    <app-product-item [product]="product" />
    } @placeholder {
    <div class="product-placeholder h-108"></div>
    } }
  </div>
</main>
