<div
  class="item-container flex flex-col h-108 max-h-108 p-4 sm shadow rounded-lg"
  appClickAction
  [logMessage]="`Clickeado: ${product().title}`"
>
  <div class="top flex justify-between items-start">
    <span>
      {{ product().title }}
    </span>
    <span class="price border px-2 rounded-xl text-sm ml-1 py-1"> ${{ product().price }} </span>
  </div>
  <div class="img-container flex justify-center mt-6 grow">
    <img [src]="product().image" alt="" />
  </div>
  <div class="actions flex justify-between items-center mt-6">
    <button (click)="goToDetails()" class="rounded-2xl py-1 px-3 font-bold cursor-pointer">
      Ver detalles
    </button>
    <button (click)="addToCart()" class="cart-plus flex px-4 py-1 rounded-2xl gap-1 items-center">
      <span class="font-semibold cursor-pointer">Añadir al carrito</span>
      <i class="pi pi-cart-plus"></i>
    </button>
  </div>
</div>
