/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import 'primeicons/primeicons.css';
:root {
  --primary: var(--color-blue-400);
  --on-primary: var(--color-neutral-50);
  --primary-dark: var(--color-blue-900);
  --on-primary-dark: var(--color-neutral-50);
  --surface: var(--color-neutral-50);
  --surface-200: var(--color-neutral-200);
  --surface-700: var(--color-neutral-700);
  --on-surface-700: var(--color-neutral-50);
}
body,
html {
  height: 100dvh;
  background-color: var(--surface);
}
